<div class="event">
<div class="content">
  <div class="summary">
    <em class="ui small orange right pointing horizontal basic label"><%= message.user.username %></em>  <%= message.body %>
  </div>
</div>
</div>