<%= link_to "Chatroom", root_path, class: "active item" %>
<div class="right menu">
  <% if !logged_in? %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui orange inverted button" %>
    </div>
  <% else %> 
    <div class="item">
    <%= link_to "Logout", logout_path, method: :delete, class: "ui orange inverted button" %>
    </div>
  <% end %>
</div>